
@import url('https://fonts.googleapis.com/css?family=Charmonman');
@import url('https://fonts.googleapis.com/css?family=Charmonman|Lobster');
page-home {
  background-color: cornflowerblue;
}
h1{
    font-family: 'Lobster', cursive;
    color: azure;
  

}
.header{
    background-color: black;
    opacity: .8;
    border-radius:5px;
}

.top
{
    background-color: cyan;
    opacity: .9;
    border-radius: 25px;

}

.EWI
{
   // background-color: red;
    background-image: url('http://www.clker.com/cliparts/X/K/r/h/r/Q/alert-icon-red-md.png');
   
}

.alert
{
    color: red;
    
}